{% extends 'templateApp/base.html' %}

{% block content %}
<div class="container">
    <h1>Student Details</h1>
    <br><a href="{% url 'create' %}">Add a New Student</a>
    <table border="2">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Course</td>
            <td>Fee</td>
        </tr>

        {% for student in stds %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.fullname}}</td>
            <td>{{student.course}}</td>
            <td>{{student.fee}}</td>
            <td><a href="{% url 'update' student.id %}">Update</a></td>

            {% if perms.crudApp.delete_student %}
            <td><a href="{% url 'delete' student.id %}">Delete</a></td>
            {% endif %}


        </tr>
        {% endfor %}

    </table>
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endblock content %}